@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
}
*, p, img {
  margin: 0;
  padding: 0;
}

a {
  font-size: 22px;
  color: #18191f;
  background: linear-gradient(to right, gold, red 50%, #18191f 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
  overflow: hidden;
}
a:hover {
  background-position: 0% 100%;
}
a:hover > svg {
  color: #ffb400;
  transition: color 275ms ease;
}

button {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  outline: none;
  padding: 8px;
  text-align: center;
  width: 100%;
}

button:hover {
  opacity: 0.7;
}

hr {
  max-width: 100%;
  width: 77%;
  height: 10px;
  border-style: solid;
  border-color: #bfbfbfe6;
  border-width: 1.7px 0 0 0;
  border-radius: 17px;
}


@media screen and (max-width: 1200px) {
  a {
    color: #fff;
    background: linear-gradient(to right, gold, red 50%, #fff 50%);
    background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
