.sidebar__menu {
    background: #8c30f549;
    border-radius: 7px;
    border: 5px solid white;
    margin: 20px 0;
    padding: 15px 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 2px 7px rgba(0, 0, 0, 0.12), 0 4px 14px rgba(0, 0, 0, 0.06);
}

.sidebar__menu > a {
    text-shadow: 1px 1px 3px rgba(30, 30, 30, 0.24), 2px 2px 7px rgba(30, 30, 30, 0.12);
    margin: 0 0 10px 40px;
    display: flex;
}

.sidebar__menu > a > svg {
    margin-right: 10px;
}
